* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansita";
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg , #492645,#734488, #9FEBEB,#734488, #492645);
}

.navbar{
    width: 100%;
    background-color: #492645;
}

.nav-item{
    padding-left: 2.0832vw;
}

.container{
    padding: 0%;
    margin-top:  50px;
    height: 605px;
    width: 100vw;
    background-color: #492645;
    box-shadow:0 0 50px #FAFCDB;
    border-radius: 15px;
}

.container .left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.left img{
    height:605px;
    width: 576px;
    border-radius: 10px;
}

.right{
    padding-left: 50px;
    background-color: #492645;
    border-radius: 15px;
}

.right form {
    font-family: Kameron ;
	display: flex;
	flex-direction: column;
	padding: 5px;
	color: #FAFCDB;
    max-height: 605px;
}

.right form h1 {
    font-family: Kameron ;
	font-size: 40px;
	margin-bottom: 30px;
    margin-top: 5px;
}

.right form label {
    font-family: Kameron ;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.right form label input {
	margin-top: 15px;
}

.right .policy{
    flex-direction: row;
}

#Terms {
    margin-top: 9px;
    font-size: 15px;
}
.right form .policy input {
	margin-right: 10px;
    margin-top: 10px;
}

.right form .input1 input, .input-group{
    width: 20vw;
    margin-top: 10px;
}

.right form #RegisterButton {
	background:#734488;
	width: 40%;
	align-self: center;
	border: none;
	padding: 10px 10px;
	font-size: 20px;
	color: #fff;
	letter-spacing: 1.5px;
	cursor: pointer;
	transition: background 1s;
	border-radius: 4px;
    margin-top: 10px;
}

.right form #RegisterButton:hover {
	background: rgba(59,99,202,.8);
}

.right form #btn1{
    margin-top: 15px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    padding: 0;
}

.modal-content{
    color: white;
    background-color: #492645;
}

.modal-body{
    color: white;
    font-family: Kameron;
}

.modal-header button{
    background-color: white;
}

.dropdown button{
    background-color: #734488;
}